.widget {
  border: 1px solid #dadada;
  height: 300px;
  color: #fff;
}
@media only screen and (max-width: 500px) {
  .widget {
    background: red;
  }
  .widget:before {
    content: 'less than 500px wide';
  }
}
@media only screen and (max-width: 500px) and (max-height: 500px) {
  .widget:before {
    content: 'less than 500px tall and wide';
  }
}
@media only screen and (min-width: 500px) {
  .widget {
    background: blue;
  }
  .widget:before {
    content: 'greater than 500px wide';
  }
}
@media only screen and (min-width: 500px) and (min-height: 500px) {
  .widget:before {
    content: 'greater than 500px tall and wide';
  }
}
