// Media Query Mixins
// ********************************************
// gem install sass
// sass --watch sass:css --style expanded
// ********************************************
// Include the Media Queries Mixins file
@import 'mediaqueries/mediaqueries';
// ********************************************

.widget {
  border: 1px solid #dadada;
  height: 300px;
  color: #fff;
    @include ltw(500px) {
    @include lth(500px) {
      background: red;
      &:before {
        content: 'less than 500px tall and wide';
      }
    }
    }
    @include gtw(500px) {
    @include gth(500px) {
      background: red;
      &:before {
        content: 'greater than 500px tall and wide';
      }
    }
    }
}